<nav class="topnav" id="menu">
    <a href="#" class="hamburger-icon" onclick="toggleNav()">
        <img src="/images/hamburgermenu.svg" />
    </a>
    <div id="nav-items">
        <a href="/petition">sign petition</a>
        <a href="/signers">view signers</a>
        <a href="/profile/edit">edit your profile</a>
        <a href="/logout">logout</a>
    </div>
</nav>
