<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,400i,700,700i" rel="stylesheet">
    </head>
    <body>

        <h1>Petition</h1>

        {{{body}}}

        <script src="/script.js"></script>
    </body>
</html>
