<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel="stylesheet" href="/style.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700" rel="stylesheet">
    </head>
    <body>

        <!-- Handlebars.registerPartial("bigimage"); -->
        {{> bigimage}}
        <div id="heading"><h1>Save the Seeds</h1></div>
        <div class="main">

            {{{body}}}
        </div>
        <script src="/script.js"></script>
    </body>
</html>
