<p class = "left">Agrobusiness, low-wage labour, pesticides – nobody really likes them.  In Berlin and Brandenburg, there are numerous initiatives offering alternatives by direct trade focussing on social and ecological criteria, and striving for production and consumption conditions that would maximise good labour conditions and sustainability.</p>
<p><strong>Sign this and get involved!</strong></p>
{{#if err}}
    <p><strong>Uups. Something went wrong. Please try again.</strong></p>
{{/if}}


<form method="POST">
    <div id="inline">
    <label><input type="text" name="first" value="{{first}}">firstname</label>
    <label><input type="text" name="last" value="{{last}}">lastname</lastname>
    </div>
    <label><input id="hidden" type="hidden" name="sig">please sign here:</label>
    <canvas id="canv" width="300" height="100"></canvas>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>submit</button>
</form>
