<h2>Please register</h2>

{{#if err}}
    <p><strong>Uups. Something went wrong. Please try again.</strong></p>
{{/if}}


<form method="POST" autocomplete="off">
    <label><input type="text" name="first">first name</label>
    <label><input type="text" name="last">last name</label>
    <label><input type="email" name="email">email</label>
    <label><input type="text" name="pass">your password</label>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>submit</button>
</form>

<p>If you already got an account >>> <a href="/login">sign in here</a>.</p>
