body {
    background: #adccc7;
    font-family: "Merriweather sans";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*petition and canvas*/

canvas {
    border: 1px dashed #144c52;
    margin: 20px 0;
    display: block;
}

/*forms*/

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

label > input {
    display: block;
    margin: 0 auto;
}

/*signers*/

p.signers {
    line-height: 0.75em;
}

.city {
    text-transform: capitalize;
}
