body {
    background: #adccc7;
    font-family: Helvetica;
}

canvas {
    border: 1px dashed #144c52;
    margin: 20px 0;
    display: block;
}

label {
    display: block;
    margin: 10px 0;
}

label > input {
    display: block;
}
