* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #adccc7;
    font-family: "Merriweather sans";
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    /* margin-top: 100px; */
    position: relative;
    width: 100%;
    /* overflow: hidden; */
}

#overlay::before {
    content: "";
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

#bigimage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#main {
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    width: 40%;
    padding: 20px;
}

a {
    color: #144c52;
}

/*petition and canvas*/

canvas {
    border: 1px dashed #144c52;
    margin: 20px 0;
    display: block;
}

/*nav*/
nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    background: #fff;
}

nav a {
    text-decoration: none;
}

/*forms*/

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

label > input {
    display: block;
    margin: 0 auto;
}

input {
    height: 30px;
    padding: 5px;
    width: 200px;
    margin: 20px;
    border: 1px solid #144c52;
}

input:focus {
    border: 2px solid #144c52;
}

button {
    padding: 10px 20px;
    border: 1px solid #144c52;
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

/*signers*/

p.signers {
    line-height: 1.75em;
}

.city {
    text-transform: capitalize;
}
